<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>
    
    <div class="container py4">
      <div class="clearfix">
        <div class="col col-3">
          <div class="mobile-hide">
            <a href="/">
              <img src="/img/cat.jpg" class="fit circle" alt="cat">
            </a>
          </div>
          <h1 class="center">Hey I'm {{ site.name }}!</h1>
          <ul class="nav header-text">
            <li><a href="/">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="https://github.com/xxx">GitHub</a></li>
          </ul>
        </div>
        <div class="col col-9">
          
          {{ content }}

        </div>
      </div>
    </div>

  </body>

</html>